.App {
  /* width: 100%; */
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 100%;
}

.Color-palettes-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.Right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.Left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}